.icon {
	width: 75px;
	height: 75px;
	display: inline-block;
	position: relative;
	top: 50%;
	@include transform(translateY(-50%));

	&.icon-pulse {
		background: url('assets/images/icons/png/Pulse.png') no-repeat scroll center / contain;
	}
	&.icon-voice {
		background: url('assets/images/icons/png/Voice.png') no-repeat scroll center / contain;
	}
	&.icon-db {
		background: url('assets/images/icons/profile.svg') no-repeat scroll center / contain;
	}
	&.icon-behavior {
		background: url('assets/images/icons/png/Behavior.png') no-repeat scroll center / contain;
	}
	&.icon-smile {
		background: url('assets/images/icons/smile.svg') no-repeat scroll center / contain;
	}
	&.icon-life {
		background: url('assets/images/icons/png/Life.png') no-repeat scroll center / contain;
	}
}