@media(max-height:899px) {
	#meet {
		.copy {
			.half {
				img {
					max-height: 600px;
				}
			}
		}
	}
	#contact {
		height: auto;
		padding: 100px 0;
	}
}
@media(max-width: 1440px) {
	#checkout {
		.right {
			.copy {
				padding: 0 100px;
				width: auto;
				h2 {
					margin: 15px auto;
				}
				ul {
					font-size: 14pt;
				}
			}
		}
		form {
			input, button, .dropdown {
				line-height: 40px;
				height: 40px;
				font-size: 14pt;
			}
			label {
				font-size: 8pt;
				letter-spacing: 2px;
			}
		}
		.payment {
			margin-top: 25px;
			.price {
				font-size: 32pt;
			}
		}
	}
}
@media(max-width: 1280px) {
	.thirds {
		margin: 50px auto;
		article {
			p {
				box-sizing: border-box;
				padding: 0 25px;
			}
		}
	}
	#top {
		.inner {
			@include transform(translate(0,0));
		}
		#clientLogos {
			span {
				@include transform(scale(0.75));
				margin: 0 5px;
			}
		}
		.half {
			video {
				&#laptop {
					@include transform(translate(100px, 0));
				}
			}
		}
	}
	#help {
		video {
			width: 800px;
		}
	}
	#meet {
		ul#bubbles {
			width: 900px;
			margin: 50px auto 0;
			li {
				.bubblewrap {
					&:after {
						top: 108px;
					}
					.bubble {
						width: 125px;
						height: 125px;
						.icon {
							width: 50px;
							height: 50px;
						}
					}
				}
			} 
		}
		.copy {
			img {
				max-height: 100px;
				margin-bottom: 25px;
			}
		}
	}
	#video {
		video {
			display: block;
		}
	}

	#contact {
		height: auto;
		padding: 50px 0;
	}
	#checkout {
		.right {
			.copy {
				padding: 0 100px;
				width: auto;
				h2 {
					margin: 15px auto;
				}
				ul {
					font-size: 14pt;
				}
			}
		}
		form {
			input, button, .dropdown {
				line-height: 40px;
				height: 40px;
				font-size: 14pt;
			}
			label {
				font-size: 8pt;
				letter-spacing: 2px;
			}
		}
		.payment {
			margin-top: 25px;
			.price {
				font-size: 32pt;
			}
		}
	}
	#testimonials {
		.quotewrap {
			.quote {
				.quote_image {
					display: block;
					@include transform(translate(0,200px));
				}
				&:last-child {
					.quote_image {
						@include transform(translate(0,-100px));
					}
				}
			}
		}
	}
}
@media(max-width: 1170px) {
	.container {
		width: 100%;
		box-sizing: border-box;
		padding: 0 25px;
	}
	#meet {
		ul#bubbles {
			li {
				.frame {
					.copy {
						width: 991px;
					}
				}
			}
		}
	}
	#research {
		#Preview {
			.previewWrap {
				width: 100%;
			}
		}
	}
	#introWrap {
		article {
			width: 100%;
			box-sizing: border-box;
			padding: 0 50px;
		}
		img {
			max-width: 600px;
			padding-bottom: 0;
		}
	}
	#sectionWrap {
		section {
			width: 100%;
		}
		.subFeature {
			text-align: center;
			h2 {
				margin: 0 0 25px;
			}
			img {
				max-width: 800px;
			}
		}
	}
	#checkout {
		padding-bottom: 100px;
	}
}
@media(max-width: 1024px) {
	.block {
		padding: 50px 0;
	}
	.thirds {
		width: 100%;
		article {
			p {
				padding: 0;
			}
		}
	}
	.checkoutPage {
		article {
			h3 {
				margin-top: 0;
			}
		}
	}
	.client_logos {
		img {
			height: 35px;
			margin: 0 15px;
		}
	}
	#top {
		padding: 82px 0 150px;
	}
	#meet {
		.squares {
			article {
				width: 300px;
				height: 250px;
				padding: 25px;
				p {
					font-size: 16pt;
					line-height: normal;
				}
			}
		}
	}
	#pIntro {
		article {
			width: 100%;
			box-sizing: border-box;
			padding: 0 50px;
		}
	}
	#testimonials {
		.quotewrap {
			padding: 0;
			.quote {
				.quote_copy {
					width: 400px;
				}
				.quote_image {
					display: block;
					@include transform(translate(0,50px));
				}
				&:last-child {
					.quote_image {
						@include transform(translate(0,50px));
					}
				}
			}
		}
	}
	#checkout {
		.right {
			height: 100%;
			padding: 50px 0;
			.copy {
				padding: 0 25px;
				font-size: 12pt;
				ul {
					padding: 0 0 0 15px;
					font-size: 12pt;
				}
				h2 {
					font-size: 24pt;
				}
			}
			.payment {
				.price {
					font-size: 24pt;
				}
			}
			form {
				margin: 25px auto 0;
			}
		}
	}
	#page {
		padding: 50px 0;
	}
	#apply {
		.container {
			p {
				width: auto;
			}
		}
	}
	#help {
		.copy {
			padding-bottom: 75px;
			img {
				padding-top: 25px;
			}
		}
	}
}
@media(max-width: 991px) {
	#top {
		#clientLogos {
			span {
				@include transform(scale(0.5));
				margin: 0;
			}
		}
	}
	#meet {
		ul#bubbles {
			width: auto;
			height: auto;
			margin: 0 0 50px 0;
			overflow: visible;
			li {
				width: 50%;
				margin: 25px 0 0;
				&:nth-child(even) {
					margin-left:  -4px;
				}
				.frame {
					.copy {
						width: auto;
					}
				}
			}
		}
	}
	#testimonials {
		blockquote {
			width: auto;
			padding: 0 15px;
		}
	}
	.copy {
		width: auto;
		padding: 0 15px;
	}
}
@media(max-width: 941px) {
	header {
		.extended {
			#menu-header-menu {
				display: none;
			}
		}
	}
}
@media(max-width: 768px) {
	#checkout {
		article {
			width: 225px;
			h2 {
				margin-top: 0;
				font-size: 16pt;
			}
			p {
				margin-bottom: 25px;
				font-size: 14pt;
			}
			.btn {
				width: 100%;
				padding: 0;
			}
			&.blue {
				ul {
					margin: 0 0 0 15px;
					padding: 0;
					li {
						font-size: 12pt;
						line-height: normal;
					}
				}
			}
		}
	}
	video {
		display: none;
	}
	.mobile {
		display: block;
	}
	.block {
		height: auto;
		padding: 50px 0; 
	}
	.client_logos {
		img {
			height: 30px;
		}
	}
	#top {
		min-height: auto;
		height: auto;
		padding-bottom: 50px;
		h1 {
			margin: 25px 0 0;
		}
		.featureVid {
			width: auto;
			iframe {
				width: 100%;
				height: 440px;
			}
		}
	}
	#research {
		#Preview {
			height: auto;
			.previewWrap {
				margin-bottom: 25px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			.half {
				box-sizing: border-box;
				padding: 15px;
			}
			h3 {
				margin: 0;
			}
			p {
				font-size: 14pt;
				line-height: normal;
				margin-top: 5px;
			}
			.btn {
				margin-top: 0;
			}
		}
	}
	#testimonials {
		.quotewrap {
			padding-top: 50px;
			.quote {
				.quote_image {
					@include transform(translate(0, 6px));
				}
				.quote_copy {
					blockquote {
						font-size: 14pt;
					}
				}
				&:last-child {
					.quote_image {
						@include transform(translate(0,6px));
					}
				}
			}
		}
	}
	#meet {
		.squares {
			article {
				&:last-child {
					margin: 25px;
				}
			}
		} 
	} 
	#help {
		.copy {
			img {
				display: block;
				margin: 50px auto 0;
			}
		}
	}
	ul#bubbles {
		display: none;
	}
	#frameTabs {
		height: auto;
		.frame {
			position: relative;
			box-sizing: border-box;
			padding: 50px 0;
			opacity: 1;
			.copy {
				.half {
					&.frameCopy {
						opacity: 1;
						@include transform(translate(0,0));
						@include transition(all 0.3s $authenticMotion);
					}
					&.frameImage {
						opacity: 1;
						@include transform(translate(0,0));
						@include transition(all 0.3s $authenticMotion);
					}
				}
			}
			&:nth-child(even) {
				.copy {
					.half {
						&.frameCopy {
							opacity: 1;
							@include transform(translate(100%,0));
							@include transition(all 0.3s $authenticMotion);
						}
						&.frameImage {
							opacity: 1;
							@include transform(translate(-100%,0));
							@include transition(all 0.3s $authenticMotion);
						}
					}
				}
			}
		}
	}
	.thirds {
		article {
			padding: 0 10px;
			p {
				font-size: 14pt;
				line-height: normal;
			}
		}
	}
}
@media(max-width: 414px) {
	.hide_mobile {
		display: none;
	}
	#checkout {
		box-sizing: border-box;
		padding: 125px 15px 250px;
		p {
			margin: 5px 0 25px;
		}
		article {
			width: 100%;
			&.blue {
				margin: 50px 0 25px;
			}
		}
	}
	.dropdown {
		width: 100%;
		button {
			font-size: 14pt;
		}
	}
	.circleClose {
		position: absolute;
		top: 5px;
		right: 15px;
		z-index: 13;
		height: 58px;
		display: inline-block;
		margin: 0 0 0 -4px;
		overflow: hidden;
		vertical-align: top;
		border: none;
		@include transform(scale(0));
		@include border-top-radius(0);
		@include border-bottom-radius(0);
		@include transition(all 0.3s $easeInOutBack);
		.bar {
			width: 40px;
			height: 5px;
			background: white;
			display: block;
			margin: 10px auto;
			position: relative;
			left: 0;
			@include transition(all 0.3s $easeInOutBack);
			&:first-child {
				margin-top: 30px;
				margin-bottom: -16px;
				@include transform(rotate(-45deg));
				@include transition(all 0.3s $easeInOutBack);
			}
			&:nth-child(2) {
				left: 70px;
				@include transition(all 0.3s $easeInOutBack);
			}
			&:last-child {
				margin-top: -14px;
				@include transform(rotate(45deg));
				@include transition(all 0.3s $easeInOutBack);
			}
		}
	}
	#bubblesMobile {
		display: block !important;
		margin: 20px -15px 0;
		.frame {
			@include transition(all 0.3s $authenticMotion);
			img {
				max-width: 50%;
				height: auto;
				margin: 0 auto;
				display: block;
			}
			.titleBar {
				position: relative;
				h3 {
					margin: 0;
					line-height: 50px;
					vertical-align: middle;
					padding: 15px 0;
					text-align: left;
					@include transition(all 0.3s $authenticMotion);
					img {
						display: inline-block;
						height: 50px;
						width: auto;
						max-width: 100px;
						min-width: 50px;
						vertical-align: middle;
						margin-right: 15px;
						margin-left: 25px;
					}
				}
			}
			.frameCopy {
				display: none;
				padding-bottom: 25px;
			}
			p, h3, ul {
				color: white;
			}
			p {
				box-sizing: border-box;
				padding: 0 25px;
				line-height: normal;
				font-size: 14pt;
			}
			&:first-child {
				background: $blue;
				.btn {
					color: $blue;
				}
			}
			&:nth-child(2) {
				background: $purp;
				.btn {
					color: $purp;
				}
			}
			&:nth-child(3) {
				background: $pink;
				.btn {
					color: $pink;
				}
			}
			&:nth-child(4) {
				background: $orange;
				.btn {
					color: $orange;
				}
			}
			&:nth-child(5) {
				background: $gold;
				.btn {
					color: $gold;
				}
			}
			&:last-child {
				background: $green;
				.btn {
					color: $green;
				}
			}
			.icon {
				top: 0;
				@include transform(translate(0,0));
			}
			.btn {
				display: block;
				background: white;
			}
			&.open {
				.circleClose {
					@include transform(scale(1));
					@include transition(all 0.3s $easeInOutBack);
				}
			}
		}
	}
	#bubbles, #frameTabs {
		display: none !important;
	}
	video {
		display: none;
	}
	.mobile {
		display: block;
	}
	.section {
		h2{
			font-size: 21pt;
		}
	}
	header {
		position: fixed;
		.menu {
			ul {
				li {
					a {
						font-size: 24pt;
					}
				}
			}
		}
	}
	h1 {
		font-size: 28pt;
		margin-top: 0;
	}
	h3 {
		font-size: 18pt;
	}
	.block {
		padding: 25px 15px;
		height: auto;
		h1 {
			line-height: normal;
			font-size: 21pt;
		}
	}
	.thirds {
		width: auto;
		margin: 15px auto;
		article {
			width: auto;
			margin: 50px auto;
			display: block;
			text-align: center;
			p {
				margin: 0;
			}
		}
	}
	body {
		p {
			font-size: 12pt;
			line-height: normal;
		}
		&.home {
			header {
				width: 100%;
				padding: 0;
				#Menu {
					top: 30px;
				}
				.logo {
					padding: 15px;
					svg {
						height: 58px;
						width: auto;
					}
				}
			}
		}
		header {
			background: $blue;
			width: 100%;
			padding: 0;
			.short, .extended {
				padding: 0;
			}
			.header-left {
				.logo {
					padding: 15px !important;
				}
				.hiring {
					color: #ccc;
					margin-left: -4px;
				}
			}
			.short {
				.header-right {
					.Menu {
						right: 0;
					}
				}
			}
			.Menu {
				top: 0 !important;
				padding: 30px 0;
				margin: 0 15px 0 0;
				background: transparent;
				overflow-x: hidden;
				.bar {
					background: $blue;
				}
			}
			.logo {
				padding: 15px 0 15px 15px;
				svg {
					height: 58px;
					width: auto;
					path {
						fill: $blue;
					}
				}
			}
			.menu {
				&.open {
					#Menu {
						padding: 0;
					}
				}
			}
			.menu-dropdown {
				ul {
					li {
						a {
							font-size: 18pt;
						}
					}
				}
			}
		}
	}
	#help {
		.copy {
			@include transform(translate(0,0));
		}
		img {
			margin-top: 50px;
		}
	}
	#top {
		padding: 100px 15px 25px;
		min-height: auto;
		height: auto;
		.featureVid {
			margin: 10px auto;
			&.playing {
				height: 250px;
			}
			iframe {
				width: 100%;
				height: 220px;
				padding: 15px 0;
			}
		}
		p {
			margin: 0;
		}
		h1 {
			margin: 0;
			padding-top: 15px;
		}
	}
	.client_logos {
		p {
			margin-bottom: 10px;
		}
		img {
			height: 25px;
			margin: 5px;
		}
	}
	#meet {
		.desc {
			margin: 5px 0 15px;
		}
		.squares {
			article {
				width: 100%;
				height: 150px;
				margin: 5px 0;
				padding: 15px;
				p {
					strong {
						font-size: 14pt;
					}
				}
				&:nth-child(2) {
					margin: 0;
				}
				&:last-child {
					margin: 5px 0;
				}
			}
		}
	}
	#testimonials {
		h2 {
			font-size: 18pt;
		}
		.quotewrap {
			padding: 0;
			margin: 0;
			@include transform(translate(0,-35px));
			.quote {
				width: 100%;
				display: block;
				@include transform(translate(0,0));
				.quote_copy {
					width: 100%;
					display: block;
					@include transform(translate(0,0));
					position: relative;
					z-index: 1;
					blockquote {
						width: 100%;
						margin: 0;
						padding-top: 65px;
						font-size: 14pt;
					}
					cite {
						margin-top: 5px;
						font-size: 12pt;
					}
				}
				.quote_image {
					display: block;
					text-align: center;
					position: relative;
					z-index: 2;
					@include transform(translate(0,50px));
				}
				&:nth-child(2) {
					@include transform(translate(0,0));
					display: none;
					.quote_image {
						text-align: center;
					}
				}
			}
		}
		.client_logos {
			p {
				margin-bottom: 15px;
			}
		}
	}
	#research {
		#Preview {
			padding: 15px 0;
			.previewWrap {
				margin-top: 50px;
				&:first-child {
					margin-top: 0;
				}
				.half {
					width: 100%;
					padding: 0 15px;
					box-sizing: border-box;
					h3 {
						margin: 15px 0 0;
					}
					p {
						margin-top: 5px;
					}
					.btn {
						margin: 0 auto;
						display: block;
					}
				}
			}
		}
	}
	.cta {
		padding: 25px 15px;
		h1 {
			line-height: normal;
			font-size: 21pt;
		}
	}
	#signUp {
		.copy {
			width: auto;
			h2 {
				font-size: 32pt;
				line-height: 48px;
			}
		}
	}
	#help {
		.copy {
			padding: 0 0 25px;
			img {
				margin-top: 0;
			}
		}
	}
	footer {
		height: auto;
		padding: 25px 0;
		.menu {
			ul {
				margin: 0;
				padding: 0;
				li {
					display: block;
					a {
						&:after {
							display: none;
						}
					}
				}
			}
		}
	}
	#pageBanner {
		height: auto;
		padding-top: 94px;
		&:before {
			display: none;
		}
		h1 {
			font-size: 32pt;
			padding: 25px 0;
		}
		&.default {
			height: auto;
		}
	}
	#introWrap {
		padding-top: 0;
		img {
			max-width: 100%;
			width: auto;
			padding-top: 15px;
		}
		article {
			padding: 0 15px;
		}
		h2 {
			&.introTitle {
				padding: 15px 0 0;
				font-size: 24pt;
			}
		}
	}
	blockquote {
		padding: 25px;
		font-size: 18pt;
		line-height: auto;
	}
	#pIntro {
		padding: 25px 0;
		h2 {
			font-size: 18pt;
			margin-top: 0;
		}
	}
	#partnership {
		box-sizing: border-box;
		padding: 50px 15px;
		form {
			width: 100%;
		}
	}
	#sectionWrap {
		section {
			width: auto;
			padding: 15px;
			.layout, .details {
				width: 100%;
				padding: 0;
				img {
					padding: 0;
					text-align: center;
				}
			}
			.details {
				padding: 0;
				&:nth-child(odd), &:nth-child(even) {
					padding: 15px;
				}
			}
			&:nth-child(even) {
				.layout, .details {
					@include transform(translate(0,0));
				}
			}
		}
	}
	#page {
		padding: 15px;
		h2 {
			margin-bottom: 5px;
		}
	}
	#team {
		padding: 15px;
	}
	#apply {
		padding: 25px 0;
		p {
			width: auto;
			padding: 15px;
			margin: 0 auto;
		}
	}
	#contact {
		height: auto;
		h2 {
			margin-bottom: 0;
		}
		form {
			box-sizing: border-box;
			padding: 0 15px;
		}
		textarea {
			width: auto;
			display: block;
			box-sizing: border-box;
			font-size: 14pt;
		}
		.half {
			margin: 0;
			padding: 0;
			height: auto;
			input {
				width: 100%;
				display: block;
				font-size: 14pt;
			}
		}
		#dropdown {
			width: 100%;
			display: block;
			button {
				font-size: 14pt;
			}
		}
		.btn-submit {
			margin: 25px 0;
		}
	}
	.container {
		width: auto;
		padding: 0;
	}
	#checkout {
		overflow: scroll;
		height: auto;
		.close {
			top: 5px;
			right: 15px;
		}
		.m-scooch {
			padding: 101px 15px 75px;
		}
		.left,.right {
			float: none;
			width: 100%;
			height: auto;
			margin: 0;
		}
		.arrow {
			display: none;
		}
		.right {
			height: auto;
			padding-bottom: 200px;
			.copy {
				padding: 0 25px;
				h2 {
					font-size: 24pt;
					text-align: left;
				}
				ul {
					font-size: 12pt;
					padding: 0 0 0 15px;
				}
				.payment {
					.price {
						font-size: 24pt;
					}
				}
			}
		}
		form {
			margin: 25px auto 0;
		}
	}
	.checkoutPage {
		article {
			width: auto;
			padding: 25px 0 0;
		}
	}
}