$blue: #1293cc;
$green: #a7d661;

$white:	#ffffff;
$black: #111111;

$grey: #919192;

$orange: #f36235;
$purp: #6c57a6;
$pink: #ce5a82;
$gold: #f0ba1a;

@font-face {
  font-family: 'din light';
  src: url('assets/fonts/DIN_Light.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'din medium';
  src: url('assets/fonts/DIN_Medium.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'din condensed';
  src: url('assets/fonts/DIN_MediumCond.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'pn regular';
  src: url('assets/fonts/ProximaNova-Regular.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'pn semibold';
  src: url('assets/fonts/ProximaNova-Semibold.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'pn bold';
  src: url('assets/fonts/ProximaNova-Bold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

html,body {
	margin: 0;
	padding: 0;
}
body {
	background: $white;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
	-o-font-smoothing: antialiased !important;
	font-smoothing: antialiased !important;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.04);
	font-family: 'din medium', sans-serif;
	overflow-x: hidden;
	&.home, &.error404 {
		header {
			.logo {
				svg {
					path {
						fill: $blue;
					}
				}
			}
			#Menu {
				.bar {
					background: $blue;
				}
			}
		}
	}
	p {
		font-family: 'pn regular';
		line-height: 32px;
	}
	&.freeze {
		overflow: hidden;
	}
}
#bubblesMobile {
	display: none !important;
}
.btn {
	text-align: center;
	width: 200px;
	display: block;
	margin: 15px auto;
	padding: 0 25px;
	line-height: 60px;
	font-size: 24pt;
	color: $white;
	border: none;
	background: linear-gradient($blue, darken($blue, 5%));
	font-family: 'din condensed';
	letter-spacing: 0;
	@include border-top-radius(3px);
	@include border-bottom-radius(3px);
	@include transition(all 0.3s $easeInOutBack);
	&:hover {
		cursor: pointer;
		letter-spacing: 1px;
		@include transition(all 0.3s $easeInOutBack);
	}
	&:active {
		background: linear-gradient(darken($blue, 5%), $blue);
	}
}
a, button {
	text-decoration: none;
	display: inline-block;
	&:hover, &:focus {
		outline: none;
	}
}
h1,h2,h3,h4,h5,h6 {
	color: $blue;
	font-family: 'din medium', sans-serif;
	font-weight: lighter;
}
img {
	max-width: 100%;
}
h1 {
	font-size: 38pt;
}
h3 {
	font-size: 24pt;
	color: $grey;
	font-family: 'din light', sans-serif;
}
p {
	color: $grey;
	font-size: 21pt;
}
.outer {
	/* W3C */
	display: inline-flex !important;
    box-pack: center !important;
    box-align: center !important;
	/* Safari, Opera, and Chrome */
	display: -webkit-inline-flex !important;
	-webkit-box-pack: center !important;
	-webkit-box-align: center !important;
	-webkit-align-items: center !important;
	 /* Firefox */
	display: -moz-inline-flexbox !important;
	-moz-box-pack: center !important;
	-moz-box-align: center !important;
	-moz-align-items: center !important;
	height: 100%;
	width: 100%;
	align-items: center !important;
	overflow: hidden;
	.inner {
		margin: auto 0;
		width: 100%;
	}
}
.copy {
	width: 800px;
	margin: 0 auto;
}
.block {
	height: 100vh;
	text-align: center;
	h1 {
		margin: 0 0 25px;
		line-height: 60px;
	}
	&:after {
		content: "";
		clear: both;
		float: none;
	}
}
.mobile {
	display: none;
}
.social {
	margin: 25px auto;
	a {
		width: 35px;
		height: 35px;
		display: inline-block;
		line-height: 38px;
		background: white;
		@include border-top-radius(50%);
		@include border-bottom-radius(50%);
		i {
			color: $blue;
		}
	}
}
.thirds {
	width: 1170px;
	margin: 100px auto 50px;
	box-sizing: border-box;
	// padding: 0 100px;
	article {
		box-sizing: border-box;
		display: inline-block;
		width: 33.33333333%;
		margin: 0 0 0 -4px;
		vertical-align: top;
		p {
			font-style: italic;
		}
		img {
			height: 150px;
			width: auto;
		}
	}
}
#checkout {
	background: rgba(0,0,0,0.9);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	z-index: 9999;
	display: none;
	.group {
		margin: 25px auto;
		&.half {
			article {
				width: 49%;
				display: inline-block;
				float: left;
				&:last-child {
					float: right;
				}
			}
			&:after {
				content: "";
				clear: both;
				display: block;
			}
		}
	}
	.dropdowns {
		display: inline-block;
		width: 78%;
		margin-top: 0;
		float: left;
		label {
			width: 100%;
		}
	}
	.dropdown {
		float: none;
		width: 48%;
		display: inline-block;
		line-height: 60px;
		border-bottom: 1px solid $grey;
		&.month {
			float: left;
		}
	}
	.payment {
		text-align: right;
		display: block;
		margin-top: 75px;
		&:after {
			content: "";
			clear: both;
			display: block;
		}
		.price {
			display: inline-block;
			color: $blue;
			font-size: 36pt;
			vertical-align: middle;
			box-sizing: border-box;
			padding: 5px 15px;
			float: left;
			line-height: 150px;
		}
		.btn {
			display: inline-block;
			vertical-align: middle;
			margin: 0;
			padding: 0;
			width: 150px;
			height: 150px;
			float: right;
			@include border-top-radius(50%);
			@include border-bottom-radius(50%);
		}
	}
	.close {
		position: fixed;
		top: 15px;
		right: 25px;
		z-index: 13;
		height: 58px;
		display: inline-block;
		margin: 0 0 0 -4px;
		overflow: hidden;
		vertical-align: top;
		@include transition(all 0.3s $easeInOutBack);
		.bar {
			width: 40px;
			height: 5px;
			background: $blue;
			display: block;
			margin: 10px auto;
			position: relative;
			left: 0;
			@include transition(all 0.3s $easeInOutBack);
			&:first-child {
				margin-top: 30px;
				margin-bottom: -16px;
				@include transform(rotate(-45deg));
				@include transition(all 0.3s $easeInOutBack);
			}
			&:nth-child(2) {
				left: 70px;
				@include transition(all 0.3s $easeInOutBack);
			}
			&:last-child {
				margin-top: -14px;
				@include transform(rotate(45deg));
				@include transition(all 0.3s $easeInOutBack);
			}
		}
		&:hover {
			cursor: pointer;
		}
	}
	.left, .right {
		width: 50%;
		height: 100%;
		display: inline-block;
		box-sizing: border-box;
		vertical-align: top;
		margin: 0 0 0 -4px;
	}
	.left {
		background: $blue;
		position: relative;
		&:after {
			content: "";
			position: absolute;
			right:0;
			top: 0;
			bottom: 0;
			width: 150px;
			height: 110%;
			background: $blue;
			z-index: 1;
			@include border-top-radius(50%);
			@include border-bottom-radius(50%);
			@include transform(translate(50px,-5%));
		}
		img {
			position: relative;
			z-index: 2;
		}
	}
	.right {
		background: white;
		margin: 0;
		.copy {
			box-sizing: border-box;
			padding: 0 100px;
			h2 {
				color: $blue;
				font-size: 36pt;
			}
			ul {
				text-align: left;
				color: $grey;
				font-family: 'din light', sans-serif;
				font-size: 18pt;
			}
		}
	}
	form {
		position: relative;
		margin: 50px auto;
		label {
			display: block;
			text-align: left;
			text-transform: uppercase;
			color: lighten($grey,10%);
			letter-spacing: 3px;
			font-size: 10pt;
		}
		input {
			display: block;
			width: 100%;
			border: none;
			box-shadow: none;
			border-bottom: 2px solid $grey;
			line-height: 60px;
			vertical-align: top;
			padding: 0;
			font-size: 18pt;
			&:focus {
				outline: none;
			}
		}
		button {
			padding: 0 15px 0 0;
			&.success {
				background: linear-gradient(green, darken(green, 5%));
				i {
					padding: 0;
					margin: 0;
				}
			}
			&.error {
				background: linear-gradient(red, darken(red, 5%));
				i {
					padding: 0;
					margin: 0;
				}
			}
		}
		.cvc {
			width: 20%;
			display: inline-block;
		}
	}
}
header {
	position: absolute;
	z-index: 12;
	padding: 15px 25px;
	.logo {
		padding: 5px 0;
		display: inline-block;
		svg {
			path {
				fill: white;
			}
		}
	}
	#Menu {
		position: fixed;
		top: 15px;
		right: 25px;
		z-index: 13;
		height: 58px;
		display: inline-block;
		margin: 0 0 0 -4px;
		overflow: hidden;
		vertical-align: top;
		@include transition(all 0.3s $easeInOutBack);
		.bar {
			width: 40px;
			height: 5px;
			background: white;
			display: block;
			margin: 10px auto;
			position: relative;
			left: 0;
			@include transition(all 0.3s $easeInOutBack);
		}
		&:hover {
			cursor: pointer;
		}
		&.slidein {
			width: 58px;
			@include transition(all 0.3s $easeInOutBack);
		}
		&.blue {
			.bar {
				background: $blue;
			}
		}
	}
	.menu {
		visibility: hidden;
		background: url('assets/images/nav_bg.jpg') no-repeat scroll center / cover;
		position: fixed;
		z-index: 11;
		width: 100%;
		height: 100vh;
		text-align: center;
		font-size: 24pt;
		color: $white;
		top: 0;
		left: 0;
		opacity: 0;
		@include transform(scale(0.98));
		@include transition(all 0.3s $easeInOutBack);
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: block;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,0.9);
			z-index: 1;
		}
		.socialNavWrap {
			position: absolute;
			bottom: 25px;
			left: 50%;
			width: 300px;
			margin: 0 0 0 -150px;
			z-index: 999;
			.social {
				margin-bottom: 5px;
			}
			a {
				background: transparent;
				font-size: 18pt;
				i {
					color: white;
				}
			}
			.legal {
				font-size: 12pt;
			}
		}
		ul {
			list-style: none;
			position: relative;
			z-index: 2;
			padding: 0;
			li {
				position: relative;
				opacity: 0;
				@include transform(translate(0, 50px));
				a {
					display: inline-block;
					color: $blue;
					font-size: 36pt;
					text-decoration: none;
					text-align: center;
					overflow: hidden;
					@include transition(all 0.3s $easeInOutBack);
					&:after {
						content: "";
						display: block;
						height: 5px;
						background: $white;
						width: 0;
						margin: 0 auto;
						position: relative;
						top: -5px;
						@include transition(all 0.3s $easeInOutBack);
					}
					&:hover {
						color: $white;
						&:after {
							width: 200px;
							@include transition(all 0.3s $easeInOutBack);
						}
					}
				}
				&.in {
					opacity: 1;
					@include transform(translate(0,0));
					@include transition(all 0.5s $easeInOutBack);
				}
			}
		}
	}
	&.open {
		@include transition(all 0.3s $easeInOutBack);
		#Menu {
			.bar {
				background: $white;
				&:first-child {
					margin-top: 30px;
					margin-bottom: -16px;
					@include transform(rotate(-45deg));
					@include transition(all 0.3s $easeInOutBack);
				}
				&:nth-child(2) {
					left: 70px;
					@include transition(all 0.3s $easeInOutBack);
				}
				&:last-child {
					margin-top: -14px;
					@include transform(rotate(45deg));
					@include transition(all 0.3s $easeInOutBack);
				}
			}
		}
		.menu {
			visibility: visible;
			min-height: 100vh;
			opacity: 1;
			@include transform(scale(1));
			@include transition(all 0.3s $easeInOutBack);
		}
	}
}
#top {
	position: relative;
	background: white;
	box-sizing: border-box;
	h1 {
		margin: 0;
	}
	h3 {
		margin: 0 0 25px;
	}
	.half {
		box-sizing: border-box;
		display: inline-block;
		width: 50%;
		padding: 0 25px;
		margin: 0 0 0 -4px;
		vertical-align: middle;
		video {
			max-width: 100%;
			max-height: 75vh;
			height: auto;
			display: none;
			float: right;
			&.active {
				display: block;
			}
			&#laptop {
				max-width: inherit;
				max-height: 60vh;
				@include transform(translate(200px, 0));
			}
			&#iphone {
				max-height: 60vh;
				@include transform(translate(-50px, 0));
			}
			&#tablet {
				@include transform(translate(50px, 0));
			}
		}
	}
	#clientLogos {
		position: absolute;
		top: 88%;
		left: 0;
		right: 0;
		span {
			box-sizing: border-box;
			display: inline-block;
			text-align: center;
			margin: 0 25px;
			img {
				max-width: 100%;
			}
		}
	}
}
#research {
	background: radial-gradient(darken($white, 5%), darken($white, 15%));
}
#video {
	position: relative;
	background: black;
	video {
		width: 100%;
		height: 100%;
		margin-bottom: -5px;
	}
	.playwrap {
		width: 100px;
		height: 100px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -50px 0 0 -50px;
		z-index: 2;
		background: url('assets/images/icons/play.svg') no-repeat scroll center / contain;
		@include transform(scale(1));
		@include transition(all 0.3s $easeInOutBack);
		&:hover {
			cursor: pointer;
		}
	}
	&.playing {
		.playwrap {
			@include transform(scale(0));
			@include transition(all 0.3s $easeInOutBack);
		}
	}
}
#help {
	background: white;
	color: $grey;
	.copy {
		position: relative;
		z-index: 2;
		@include transform(translate(0,25px));
	}
	h4 {
		letter-spacing: 5px;
		text-transform: uppercase;
		color: darken($blue, 25%);
		font-size: 24pt;
	}
	.placeholder {
		margin: 50px 0;
	}
	video {
		width: 1000px;
		height: auto;
		position: relative;
		z-index: 1;
		@include transform(translate(0,-25px));
	}
}
#meet {
	min-height: 100vh;
	box-sizing: border-box;
	position: relative;
	background: radial-gradient($white, darken($white, 5%));
	text-align: center;
	.outer {
		overflow: visible;
	}
	.bubblenav {
		position: fixed;
		top: 25px;
		width: 100%;
		text-align: center;
		padding: 0;
		z-index: 999;
		@include transform(translate(0,-100px));
		@include transition(all 0.3s $authenticMotion);
		&.in {
			@include transform(translate(0,0));
			@include transition(all 0.3s $authenticMotion);
		}
		li {
			@include border-top-radius(50%);
			@include border-bottom-radius(50%);
			width: 35px;
			height: 35px;
			display: inline-block;
			position: relative;
			@include transform(scale(1));
			@include transition(transform 0.5s $easeInOutBack);
			@include transition(width 0.3s $easeInOutBack);
			&.selected {
				width: 0;
				overflow: hidden;
				@include transform(scale(0));
				@include transition(transform 0.3s $easeInOutBack);
				@include transition(width 0.5s $easeInOutBack);
			}
			.tooltip {
				position: absolute;
				top: 110%;
				left: 50%;
				text-align: center;
				color: black;
				background: white;
				white-space: nowrap;
				box-sizing: border-box;
				padding: 5px 10px;
				opacity: 0;
				@include transform(translate(-50%,5px));
				@include transition(all 0.3s ease-in-out);
				&.in {
					opacity: 1;
					@include transform(translate(-50%,0));
					@include transition(all 0.3s ease-in-out);
				}
				&:before {
					content:"";
					position: absolute;
					top: -5px;
					left: 50%;
					border-right: 5px solid transparent;
					border-left: 5px solid transparent;
					border-bottom: 5px solid white;
					margin: 0 0 0 -5px;
				}
			}
			&:first-child {
				background: $orange;
			}
			&:nth-child(2) {
				background: $purp;
			}
			&:nth-child(3) {
				background: $pink;
			}
			&:nth-child(4) {
				background: $blue;
			}
			&:nth-child(5) {
				background: $gold;
			}
			&:nth-child(6) {
				background: $green;
			}
			&.circleClose {
				position: fixed;
				top: -15px;
				right: 50px;
				z-index: 13;
				height: 58px;
				display: inline-block;
				margin: 0 0 0 -4px;
				overflow: hidden;
				vertical-align: top;
				border: none;
				@include border-top-radius(0);
				@include border-bottom-radius(0);
				@include transition(all 0.3s $easeInOutBack);
				.bar {
					width: 40px;
					height: 5px;
					background: white;
					display: block;
					margin: 10px auto;
					position: relative;
					left: 0;
					@include transition(all 0.3s $easeInOutBack);
					&:first-child {
						margin-top: 30px;
						margin-bottom: -16px;
						@include transform(rotate(-45deg));
						@include transition(all 0.3s $easeInOutBack);
					}
					&:nth-child(2) {
						left: 70px;
						@include transition(all 0.3s $easeInOutBack);
					}
					&:last-child {
						margin-top: -14px;
						@include transform(rotate(45deg));
						@include transition(all 0.3s $easeInOutBack);
					}
				}
				&:hover {
					cursor: pointer;
				}
			}
			&:hover {
				cursor: pointer;
			}
		}
	}
	ul#bubbles {
		list-style: none;
		text-align: center;
		display: inline-block;
		padding: 0;
		margin: 100px auto 0;
		width: 1300px;
		box-sizing: border-box;
		li {
			text-align: center;
			display: inline-block;
			width: 15%;
			vertical-align: top;
			@include transition(all 0.3s $easeInOutBack);
			.label {
				color: $grey;
				position: relative;
				z-index: 1;
				font-family: 'pn regular';
				text-transform: uppercase;
				font-size: 10pt;
				letter-spacing: 2px;
				line-height: 18px;
			}
			.frame {
				visibility: hidden;
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 14;
				opacity: 0;
				@include transition(all 0.3s ease-in-out);
				h3 {
					color: $white;
					text-transform: uppercase;
					letter-spacing: 2px;
					margin-top: 0;
				}
				p {
					color: white;
				}
				&.in {
					visibility: visible;
					opacity: 1;
					@include transition(all 0.3s ease-in-out);
				}
				.copy {
					width: 800px;
					@include transform(translate(0,25px));
					img {
						max-height: 600px;
						max-width: 100%;
						height: auto;
						width: auto;
						margin: 0;
					}
					i {
						top: 0;
					}
				}
				.btn {
					background: rgba(0,0,0,0.3);
					color: white;
				}
			}
			.bubblewrap {
				position: relative;
				@include transition(all 0.3s $authenticMotion);
				.bubble {
					position: relative;
					z-index: 3;
					display: block;
					width: 150px;
					height: 150px;
					top: 0;
					margin: 0 auto 25px;
					vertical-align: top;
					@include border-top-radius(50%);
					@include border-bottom-radius(50%);
					@include transition(all 0.3s $authenticMotion);
					text-align: center;
					i {
						opacity: 1;
						&.hide {
							opacity: 0;
						}
					}
				}
				// &:after {
				// 	content: "";
				// 	width: 100px;
				// 	height: 25px;
				// 	background: radial-gradient(#999999, transparent);
				// 	opacity: 0.75;
				// 	position: absolute;
				// 	z-index: 1;
				// 	top: 135px;
				// 	left: 50%;
				// 	margin-left: -50px;
				// 	display: block;
				// 	vertical-align: top;
				// 	@include border-top-radius(50%);
				// 	@include border-bottom-radius(50%);
				// 	@include transition(all 0.3s $authenticMotion);
				// }
				&:hover {
					cursor: pointer;
					.bubble {
						top: -10px;
						@include transition(all 0.3s $authenticMotion);
					}
					// &:after {
					// 	width: 125px;
					// 	margin-left: -62.5px;
					// 	opacity: 0.25;
					// 	@include transition(all 0.3s $easeInOutQuad);
					// }
				}
			}
			&:first-child{
				.bubble, .frame {
					background: $orange;
				}
				i {
					color: $orange;
				}
			}
			&:nth-child(2) {
				.bubble, .frame {
					background: $purp;
				}
			}
			&:nth-child(3) {
				.bubble, .frame {
					background: $pink;
				}
			}
			&:nth-child(4) {
				.bubble, .frame {
					background: $blue;
				}
			}
			&:nth-child(5) {
				.bubble, .frame {
					background: $gold;
				}
			}
			&:last-child {
				.bubble, .frame {
					background: $green;
				}
			}
			&.open {
				.bubble {
					position: relative;
					z-index: 14;
					@include transform(scale(50));
					@include border-top-radius(0);
					@include border-bottom-radius(0);
					@include transition(all 1s ease-in-out);
				}
			}
		}
	}
	.copy {
		.half {
			width: 50%;
			text-align: center;
			display: inline-block;
			box-sizing: border-box;
			padding: 0 25px;
			margin: 0 0 0 -4px;
			vertical-align: middle;
			.icon {
				@include transform(translate(0,-10px));
			}
		}
		img {
			max-height: 200px;
			width: auto;
			margin-bottom: 75px;
		}
	}
	.followUp {
		width: 600px;
		margin: 350px auto 150px;
		position: relative;
		&:after {
			content: "";
			width: 15px;
			height: 15px;
			background: $blue;
			position: absolute;
			top: -50px;
			left: 50%;
			margin-left: -7.5px;
			@include transform(scale(0));
			@include border-top-radius(50%);
			@include border-bottom-radius(50%);
			@include transition(all 1s ease-in-out);
		}
		&:before {
			content: "";
			width: 10px;
			position: absolute;
			background: url('assets/images/circle.svg') repeat-y scroll center;
			height: 0;
			top: -210px;
			left: 50%;
			margin-left: -5px;
			@include transition(all 1s $easeInOutBack);
		}
		&.in {
			&:before {
				height: 160px;
				@include transition(all 1s $easeInOutBack);
			}
			&:after {
				@include transform(scale(1));
				@include transition(all 1s $easeInOutBack);
			}
		}
	}
}
#metrics {
	background: radial-gradient($blue, darken($blue, 10%));
	.half {
		width: 1170px;
		margin: 0 auto;
		height: 100%;
		article {
			box-sizing: border-box;
			display: inline-block;
			width: 50%;
			height: 100%;
			margin: 0 0 0 -4px;
			position: relative;
			vertical-align: middle;
			.half {
				width: auto;
				height: auto;
				margin-top: 50px;
				article {
					height: auto;
				}
			}
			h1 {
				color: white;
				margin: 0;
			}
			&.phone {
				img {
					position: absolute;
					bottom: 0;
					left: 50%;
					margin: 0 0 0 -223px;
				}
			}
			p {
				color: white;
				box-sizing: border-box;
				line-height: normal;
			}
			.stat {
				color: white;
				margin: 25px 0 0;
				span {
					font-size: 48pt;
					text-align: center;
					font-weight: bold;
					&.abbr {
						font-size: 18pt;
					}
				}
				p {
					margin: 0;
					padding: 0;
					font-size: 12pt;
					@include transform(translate(0,-10px));
				}
			}
		}
	}
}
#testimonials {
	background: url('assets/images/testimonial_bg.jpg') no-repeat scroll center / cover;
	color: white;
	text-align: center;
	position: relative;
	blockquote {
		font-weight: bold;
		font-size: 32pt;
		width: 800px;
		margin: 0 auto;
	}
	cite {
		display: block;
		text-transform: uppercase;
		margin-top: 50px;
		line-height: 24px;
		font-family: 'pn regular', sans-serif;
		span {
			display: block;
			letter-spacing: 3px;
			&.name {
				font-style: normal;
			}
			&.company {
				font-weight: bold;
			}
		}
	}
}
#cta {
	height: 25vh;
	text-align: center;
	h2 {
		color: $grey;
		font-size: 36pt;
		font-weight: lighter;
		margin: 0;
		font-family: 'din light', sans-serif;
		line-height: 100px;
	}
}
#pageBanner {
	height: 100vh;
	text-align: center;
	&.default {
		background: $blue;
		height: 50vh;
		&:after {
			display: none;
		}
	}
	&:after {
		content: "";
		background: rgba(15,102,165,0.8);
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 1;
	}
	h1 {
		color: white;
		position: relative;
		z-index: 2;
		font-size: 72pt;
	}
}
#page {
	padding: 100px 0;
	background: $white;
	position: relative;
	z-index: 10;
	h2 {
		margin-top: 0;
	}
}
.section {
	h2 {
		color: $grey;
		font-size: 36pt;
		text-align: center;
	}
}
// #team {
// 	background: radial-gradient(darken($blue, 10%), darken($blue, 20%));
// 	padding: 100px 0;
// 	.thirds {
// 		margin: 0;
// 	}
// 	h2 {
// 		margin: 0 0 50px;
// 		color: white;
// 	}
// 	img {
// 		margin: 0 auto;
// 		display: block;
// 	}
// 	h3 {
// 		text-align: center;
// 		margin: 10px 0;
// 		color: white;
// 	}
// 	.title {
// 		text-align: center;
// 		font-weight: bold;
// 		color: $green;
// 		text-transform: uppercase;
// 		letter-spacing: 1px;
// 	}
// }
#team {
	img {
		width: 100%;
	}
}
#apply {
	padding: 100px 0;
	text-align: center;
	h2 {
		margin: 0;
	}
	p {
		width: 825px;
		margin: 50px auto;
		text-align: center;
	}
}
#contact {
	height: 100vh;
	position: relative;
	z-index: 10;
	background: radial-gradient($white, darken($white, 5%));
	.container {
		height: 100%;
	}
	.half {
		margin: 0;
		padding: 25px 0;
		input {
			width: 48%;
			display: inline-block;
			box-sizing: border-box;
			border: none;
			border-bottom: 1px solid $grey;
			font-size: 18pt;
			height: 60px;
			line-height: 60px;
			background: transparent;
			padding: 0 10px;
			color: $blue;
			&:last-child {
				float: right;
			}
			&:focus {
				outline: none;
			}
		}
	}
	textarea {
		width: 100%;
		min-width: 100%;
		max-width: 100%;
		min-height: 150px;
		font-size: 16pt;
		border: none;
		background: darken(white, 6%);
		padding: 10px;
		margin-top: 25px;
		color: $blue;
		@include transition(all 0.5s $easeInOutBack);
		&:focus {
			outline: none;
			min-height: 250px;
			@include transition(all 0.5s $easeInOutBack);
		}
	}
	.btn-submit {
		float: right;
		margin-top: 25px;
		i {
			padding-right: 10px;
			margin: 0 10px 0 0;
			padding: 0;
		}
		&.success {
			background: linear-gradient(green, darken(green, 5%));
			i {
				padding: 0;
				margin: 0;
			}
		}
		&.error {
			background: linear-gradient(red, darken(red, 5%));
			i {
				padding: 0;
				margin: 0;
			}
		}
	}
}
.payment-errors {
	color: lighten(red,25%);
}
.dropdown {
	position: relative;
	width: 48%;
	height: 60px;
	line-height: 60px;
	float: right;
	button {
		border: none;
		background: transparent;
		text-align: left;
		display: block;
		width: 100%;
		height: 60px;
		line-height: 60px;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: $grey;
		font-size: 18pt;
		padding: 0 10px;
		border-bottom: 1px solid $grey;
		i {
			float: right;
			margin-top: 15px;
		}
		&.selected {
			color: $blue;
		}
	}
	ul {
		opacity: 0;
		height: 0;
		overflow: hidden;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		list-style: none;
		margin: 0;
		padding: 0;
		background: white;
		border: 1px solid $grey;
		border-top: none;
		box-sizing: border-box;
		@include transition(all 0.3s $easeInOutBack);
		li {
			font-size: 14pt;
			line-height: 40px;
			display: block;
			padding: 0 10px;
			&:hover {
				color: white;
				background: $blue;
				cursor: pointer;
			}
		}
		&.show {
			opacity: 1;
			height: 160px;
			overflow: scroll;
			@include transition(all 0.3s $easeInOutBack);
		}
	}
}
#errorPage {
	height: 100vh;
	background: white;
	h1 {
		text-align: center;
		color: $blue;
		margin: 0;
	}
}
input[placeholder], [placeholder], *[placeholder] {
	text-transform: uppercase;
	letter-spacing: 1px;
}
.container {
	width: 1170px;
	margin: 0 auto;
}
footer {
	height: 25vh;
	background: $blue;
	text-align: center;
	font-family: 'pn regular', sans-serif;
	.menu {
		ul {
			list-style: none;
			display: block;
			text-align: center;
			li {
				display: inline-block;
				a {
					line-height: 40px;
					color: white;
					text-decoration: none;
					text-transform: uppercase;
					font-size: 14pt;
					&:after {
						content:"|";
						padding-left: 15px;
						margin-right: 15px;
					}
				}
				&:last-child {
					a {
						&:after {
							display: none;
						}
					}
				}
			}
		}
	}
	.social {
		margin: 25px auto 0;
	}
	.legal {
		margin-top: 25px;
		color: darken($blue, 25%);
	}
}