.image-placeholder {
	border: 1px dashed #999999;
	padding: 5px;
	box-sizing: border-box;
	max-width: 400px;
	height: auto;
	margin: 15px 0;
	min-height: 100px;
	img {
		max-width: 100%;
		height: auto;
	}
}
#MailChimp, #Stripe {
	label {
		display: block;
	}
	input {
		display: block;
		width: 400px;
		line-height: 40px;
		height: 40px;
	}
}
#bgVideo {
	margin-bottom: 25px;
}
#client_info {
	label {
		display: block;
		text-transform: uppercase;
		font-size: 10px;
		margin-top: 5px;
	}
	input {
		width: 100%;
		line-height: 30px;
		height: 30px;
		box-shadow: 0 0 0 0;
	}
}
.column-cite {
	width: 175px;
}
#tab_image {
	img {
		width: 100%;
	}
	&:hover {
		.button-remove {
			opacity: 1;
			text-align: center;
		}
	}
	.button-remove {
		&:hover {
			cursor: pointer;
		}
	}
}
#sections, #homepage_sections, #content {
	.inside {
		margin: 0;
		padding: 0;
	}
	section {
		box-sizing: border-box;
		padding: 25px;
		&:nth-child(even) {
			background: #f9f9f9;
		}
		h3 {
			margin-top: 0;
		}
		&#section2 {
			.tab {
				label {
					margin-top: 0;
				}
				textarea {
					min-height: 110px;
				}
			}
		}
	}
	input, textarea {
		display: block;
		width: 100%;
		font-size: 12pt;
	}
	label {
		line-height: 18pt;
	}
	input {
		box-shadow: 0 0 0;
		line-height: 30px;
		padding: 0 10px;
		box-sizing: border-box;
	}
}
.sub_image {
	position: relative;
	width: 300px;
	min-height: 100px;
	height: auto;
	border: 1px dotted black;
	text-align: center;
	padding: 10px;
	box-sizing: border-box;
	.upload-image {
		display: block;
		padding: 50px 0;
	}
	img {
		max-width: 100%;
	}
	&:hover {
		.button-remove {
			opacity: 1;
			text-align: center;
		}
	}
	.button-remove {
		&:hover {
			cursor: pointer;
		}
	}
}
.button-remove {
	opacity: 0;
	position: absolute;
	top: 5px;
	right: 5px;
	width: 35px;
	height: 35px;
	line-height: 35px;
	color: red;
	font-weight: bold;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	background: white;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}
#homepage_video {
	position: relative;
	&:hover {
		cursor: move;
		.button-remove {
			opacity: 1;
		}
	}
	.inside {
		margin: 0;
		padding: 0;
		li {
			margin: 0 0 -4px;
			padding: 0;
		}
		.bg_video {
			a {
				padding: 10px;
				box-sizing: border-box;
				display: block;
			}
		}
	}
}
#icon {
	.inside {
		margin: 0;
		padding: 0;
		img {
			max-width: 100%;
			background: black;
		}
	}
	a {
		display: block;
		padding: 10px;
		box-sizing: border-box;
	}
}
.tab {
	padding: 5px;
	box-sizing: border-box;
	vertical-align: middle;
	.icon {
		width: 200px;
		border: 1px dashed #ccc;
		height: 200px;
		line-height: 200px;
		text-align: center;
		margin: 0 15px 0 0;
		display: inline-block;
		position: relative;
		vertical-align: middle;
		&:hover {
			.remove-image {
				opacity: 1;
				&:hover {
					cursor: pointer;
				}
			}
		}
		img {
			max-height: 100%;
			max-width: 100%;
			width: auto;
			padding: 15px;
			box-sizing: border-box;
		}
	}
	.copy {
		width: 50%;
		display: inline-block;
		vertical-align: middle;
		label {
			display: block;
		}
	}
}
#content {
	input,label {
		display: block;
	}
	input,textarea {
		width: 100%;
	}
}
#sections {
	#sectionWrap {
		section {
			&:nth-child(even) {
				background: white;
			}
		}
	}
	.inside {
		margin: 0;
		padding: 0;
	}
	.btn-section {
		display: block;
		width: 100%;
	}
}
#sectionTitles, #partnershipTitles, #contact {
	input, textarea {
		line-height: 40px;
		height: 40px;
		display: block;
		margin: 0 auto 5px;
		font-size: 14pt;
		width: 100%;
		padding: 10px 50px 10px 10px;
		vertical-align: top;
		box-shadow: 0px 0px 0px 0px;
	}
	textarea {
		line-height: normal;
		min-height: 200px;
	}
}
#sectionWrap {
	section {
		box-sizing: border-box;
		padding: 25px;
		vertical-align: top;
		position: relative;
		&:after {
			content: "";
			clear: both;
			display: block;
		}
		&:nth-child(odd)  {
			background: darken(white, 3%);
		}
		.details {
			width: 50%;
			display: inline-block;
			box-sizing: border-box;
			vertical-align: top;
			input {
				line-height: 40px;
				height: 40px;
				display: inline-block;
				margin: 0 auto 15px;
				font-size: 14pt;
				width: 100%;
				padding: 10px 50px 10px 10px;
				vertical-align: top;
				box-shadow: 0px 0px 0px 0px;
			}
			textarea {
				width: 100%;
				padding: 10px;
				min-height: 149px;
				box-shadow: 0px 0px 0px 0px;
			}
		}
		.layout {
			width: 50%;
			display: inline-block;
			box-sizing: border-box;
			vertical-align: top;
			margin-top: 20px;
			padding: 0 25px 0 0;
			.upload-image {
				height: 220px;
				line-height: 220px;
				border: 1px dotted black;
				text-align: center;
				overflow: hidden;
				display: block;
			}
			img {
				max-height: 100%;
				max-width: 100%;
			}
			.section_image {
				width: 100%;
				height: 100%;
			}
		}
		.remove_section {
			color: lighten(red, 15%);
			display: block;
			text-align: center;
			line-height: 40px;
			position: absolute;
			top: 0;
			right: 0;
			width: 40px;
			font-style: normal;
			&:hover {
				cursor: pointer;
			}
		}
	}
}
#checkoutPerk {
	.inside {
		margin: 0;
		padding: 0;
	}
	.btn-checkout {
		display: block;
		width: 100%;
	}
	section {
		box-sizing: border-box;
		padding: 25px;
		vertical-align: top;
		position: relative;
		&:after {
			content: "";
			clear: both;
			display: block;
		}
		&:nth-child(odd)  {
			background: darken(white, 3%);
		}
		input {
			line-height: 40px;
			height: 40px;
			display: inline-block;
			margin: 0 auto 15px;
			font-size: 14pt;
			width: 100%;
			padding: 10px 50px 10px 10px;
			vertical-align: top;
			box-shadow: 0px 0px 0px 0px;
		}
		textarea {
			width: 100%;
			padding: 10px;
			min-height: 149px;
			box-shadow: 0px 0px 0px 0px;
		}
	}
}
#sectionCarousel {
	.photoWrap {
		-webkit-column-count: 3;
		-webkit-column-gap: 0;
		-moz-column-count: 3;
		-moz-column-gap: 0;
		column-count: 3;
		column-gap: 0;
		.photo {
			position: relative;
			margin: 0;
			padding: 0;
			vertical-align: top;
			line-height: 0;
			font-size: 0;
			text-align: center;
			img {
				max-width: 100%;
				height: auto;
				width: auto;
				box-sizing: border-box;
				padding: 15px;
			}
			&:hover {
				cursor: move;
				.button-remove {
					opacity: 1;
				}
			}
			.button-remove {
				opacity: 0;
				position: absolute;
				top: 5px;
				right: 5px;
				color: red;
				font-weight: bold;
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				-o-border-radius: 50%;
				border-radius: 50%;
				background: white;
				border: none;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				-o-box-shadow: none;
				box-shadow: none;
			}
		}
	}
}